.container-fluid{
    background-color:#d45656;
}

#test1,#test2,#test3{
    color:rgb(0, 0, 0);
}

#test1:hover,#test2:hover,#test3:hover
{
    color:rgb(56, 18, 228);
}

body{
    background-color:rgb(224, 226, 123);
}

.active{
    color:rgb(152, 218, 66);
}